<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/accodion.css"/>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-sm-6">
        <h3>Default collapse with scaling icon</h3>
        <div class="accordion-group wrap" id="bs-collapse">

            <div class="accordion">
                <div class="accordion-heading">
                    <h4 class="accordion-title">
                        <a data-toggle="collapse" data-parent="#" href="#one">
                            Collapse item #1
                        </a>
                    </h4>
                </div>
                <div id="one" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
                    </div>
                </div>

            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading">
                    <h4 class="accordion-title">
                        <a data-toggle="collapse" data-parent="#" href="#two">
                            Collapse item #2
                        </a>
                    </h4>
                </div>
                <div id="two" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?
                    </div>

                </div>
            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading">
                    <h4 class="accordion-title">
                        <a data-toggle="collapse" data-parent="#" href="#three">
                            Collapse item #3
                        </a>
                    </h4>
                </div>
                <div id="three" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading">
                    <h4 class="accordion-title">
                        <a data-toggle="collapse" data-parent="#" href="#four">
                            Collapse item #4
                        </a>
                    </h4>
                </div>
                <div id="four" class="accordion-collapse collapse in">
                    <div class="accordion-body">
                        They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

        </div>
        <!-- end of #bs-collapse  -->

    </div>

    <div class="col-md-6 col-sm-6">
        <h3>Accordion collapse with rotating icon</h3>
        <div class="accordion-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="accordion">
                <div class="accordion-heading" role="tab" id="headingOne">
                    <h4 class="accordion-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse in" role="tabaccordion" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h4 class="accordion-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible item #2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" role="tabaccordion" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading" role="tab" id="headingThree">
                    <h4 class="accordion-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible item #3
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse" role="tabaccordion" aria-labelledby="headingThree">
                    <div class="accordion-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

            <div class="accordion">
                <div class="accordion-heading" role="tab" id="headingFour">
                    <h4 class="accordion-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Collapsible item #4
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="accordion-collapse collapse" role="tabaccordion" aria-labelledby="headingFour">
                    <div class="accordion-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                    </div>
                </div>
            </div>
            <!-- end of accordion -->

        </div>
        <!-- end of #accordion -->

    </div>
    <!-- end of wrap -->

</div>
<!-- end of container -->
</body>
</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.collapse.in').prev('.accordion-heading').addClass('active');
        $('#accordion, #bs-collapse')
                .on('show.bs.collapse', function(a) {
                    $(a.target).prev('.accordion-heading').addClass('active');
                })
                .on('hide.bs.collapse', function(a) {
                    $(a.target).prev('.accordion-heading').removeClass('active');
                });
    });
</script>