<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>修改密码</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/base.css"/>
</head>
<body>
<a id="changepwdBtn" class="btn btn-link" href="#" data-toggle="modal" data-target="#pwdModal" role="button">修改密码</a>

<div class="modal fade  bs-example-modal-sm" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content  modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="pwdModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="oldpassword" class="control-label">旧密码:</label>
                        <input required type="text" class="form-control" id="oldpassword">
                    </div>
                    <div class="form-group">
                        <label for="newpassword" class="control-label">新密码:</label>
                        <input required type="text" class="form-control" id="newpassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="savepwdchangeBtn" data-loading-text="Loading...">保持修改</button>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>

<script>
    $('#savepwdchangeBtn').on('click', function () {
        var oldpwd=$('#oldpassword').val();
        var newpwd=$('#newpassword').val();
        if(oldpwd.trim().length==0){
            alert("旧密码不能为空");
            return false;
        }
        if(newpwd.trim().length==0){
            alert("新密码不能为空");
            return false;
        }

        var $btn=LU.modeBtn = $(this).button('loading');
        var url="../data/changepwd.json";
        getJsonData(url,{oldpwd:oldpwd,newpwd:newpwd},function(data){
            if(data.code=="126000"){
                alert("修改密码成功。");
                $('#pwdModal').modal('hide');
            }else{
                alert("修改密码失败！\n error code:"+data.code+"\n"+data.message);

            }
            $btn.button('reset');
        });

    })
</script>
</body>
</html>