<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>内容框架</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/base.css"/>
    <link rel="stylesheet" href="../style/grid.css"/>
    <link rel="stylesheet" href="../style/header.css"/>
    <link rel="stylesheet" href="../style/footer.css"/>
    <link rel="stylesheet" href="../style/navbar.css"/>
    <link rel="stylesheet" href="../style/content.css"/>
</head>
<body>

<div class="container mainbody">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Panel title</h4>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Panel title</h4>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">Panel title</h4>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>