<link rel="stylesheet" href="../style/base.css"/>
<link rel="stylesheet" href="../style/grid.css"/>
<link rel="stylesheet" href="../style/index.css"/>
<style>
    .cell {
        border: solid 1px #ddd;
        height: 200px;
        background-color: #fff
    }
</style>
<div class="sp-container">
    <div class="sp-row linkcardcontainer">
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
        <div class="sp-col-1 sp-col-md-2 sp-col-lg-3">
            <div class="cell">
            </div>
        </div>
    </div>
</div>