<link rel="stylesheet" href="../style/bootstrap.min.css"/>
<link rel="stylesheet" href="../style/content.css"/>

<div class="table-responsive">
    <table class="table table-hover table-condensed table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
            <th>heading</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-online">
            <th scope="row">1</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-online">
            <th scope="row">2</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-offline">
            <th scope="row">3</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-online">
            <th scope="row">4</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-alert">
            <th scope="row">5</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-alert">
            <th scope="row">6</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr class="bg-online">
            <th scope="row">8</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
            <td>cell</td>
        </tr>
        </tbody>
    </table>
</div>