.collapse-group .panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.collapse-group .panel:last-child {
    border-bottom: none;
}

.collapse-group.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.collapse-group.panel-group .panel {
    border-radius: 0;
}

.collapse-group.panel-group .panel + .panel {
    margin-top: 0;
}

.collapse-group .panel-heading {
    background-color: #35639A;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}
.collapse-group .panel-title{
    margin:0 auto;
}
.collapse-group .panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}
.collapse-group .panel-title a:hover,.collapse-group .panel-title a:visited,
.collapse-group .panel-title a:focus,.collapse-group .panel-title a:active{
    text-decoration: none;
}
.collapse-group .panel-body {
    background: #fff;
    padding: 15px;
}

.collapse-group .panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.collapse-group .panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    -webkit-transition: border-radius 0.3s linear 0.2s;
    transition: border-radius 0.3s linear 0.2s;
}

.collapse-group .panel:last-child .panel-heading.active {
    border-radius: 0;
    -webkit-transition: border-radius linear 0s;
    transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.collapse-group .panel-heading a:before {
    content: '\2b';
    position: absolute;
    font-family: 'Glyphicons Halflings';
    right: 10px;
    top: 10px;
    font-size: 16px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.collapse-group .panel-heading.active a:before {
    content: ' ';
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

#bs-collapse.collapse-group  .panel-heading a:after {
    content: ' ';
    font-size: 16px;
    position: absolute;
    font-family: 'Glyphicons Halflings';
    right: 10px;
    top: 10px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#bs-collapse.collapse-group  .panel-heading.active a:after {
    content: '\2212';
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/* #panel rotate icon option */

#accordion.collapse-group  .panel-heading a:before {
    content: '\e252';
    font-size: 16px;
    position: absolute;
    font-family: 'Glyphicons Halflings';
    right: 10px;
    top: 10px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#accordion.collapse-group  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}