body>.container,body>.topheader>.container{min-width: 1000px;}
.bg-online {
    background: #39D628
}

.bg-offline {
    background: #CFCFCF
}

.bg-alert {
    background: #FC0019
}
.bg-info {
    background: #699FD4
}

.panel.panel-primary .panel-body.panel-body-nopadding {
    padding: 5px;
}
.panel .panel-body.panel-body-nopadding {
    padding: 0
}

.panel .panel-title .legend {
    border: solid 1px #fff;
    width: 1em;
    height: 0.9em;
    display: inline-block;
}

.mainbody {
    margin-top: 20px;
    margin-bottom: 20px;
}

#map {
    height: 600px;
}
/*top center(responsive) foot*/
.tcf{position: relative;height:600px;}
.tcf .panel-heading,.tcf .panel-body{}
.tcf .panel-footer{position: absolute;width: 100%}
.tcf .panel-heading{top: 0}
.tcf .panel-body{}
.tcf .panel-footer{bottom: 0}
.tcf .panel-heading .form-inline{line-height: 3;}
.tcf .panel-heading .form-inline label{font-weight: 400}
.tcf .panel-heading .form-inline input{width: 9em;padding: 3px;}
.tcf .panel-heading .form-group {margin-bottom: 10px;}
.panel {
    margin-bottom: 6px;
}

.panel-primary, .panel-info, .panel-danger {
    border-color: #6F7070;
}

.panel-primary > .panel-heading {
    background-color: #35639A;

}

.panel-danger > .panel-heading {
    background-color: #fff;
    color: #FF0000;
}
.panel .panel-footer .pagination {
    margin: 0;
}

.panel .panel-footer .pagination-sm > li > a {
    padding: 5px 8px;
}

.panel .table {
    margin-bottom: 0
}
/*.panel .table thead{
    background: #699FD4
}*/

.nav-pills > li > a {
    color: #000;
    padding: 3px 12px;
    border: solid 1px #6F7070;
    margin: 0;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #000;
    font-weight: bold;
    background-color: #CFCFCF;
}
.tab-content.top20 {
    padding-top: 20px;
}

.tab-pane.dark {
    background: #222;
}

.gaugecanvas {
    min-width: 130px;
    max-width: 400px;
    height: 480px;
}

.columncanvas {
    width: 100%;
    min-width: 50px;
    max-width: 300px;
    height: 480px;
}
.pagergroup {
    margin-left: 5px;
    width: 10em;
    display: inline-table;
}
.detail_table td.name{
    background:#f5f5f5;
}

@media (min-width: 768px) {
    .lr .panel.panel-primary {
        margin-right: -15px;
    }

    .lr .panel.panel-info {
        margin-left: -10px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1470px
    }
}
